<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>todo-list</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <link rel="stylesheet" href="/assets/style.css" type="text/css" >
     <script src="/assets/todo-list.js"></script>
</head>
<body>
    <h1>MY TODO LIST</h1>
    <div id ="todo-table">
        <form action="">
            <input type="text"  name="item" placeholder="add new item.." required>
            <button type="submit"> add item</button>
        </form>

        <ul>
            <% for(var i=0;i < todos.length;i++){ %>
           <li><%= todos[i].item %></li>
                <%  }%>
        </ul>
    </div>
    
</body>
</html>